<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Grupę</title>
</head>
<body>
    <h1>Dodaj nową Grupę</h1>
    <form th:action="@{/groups/save}" th:object="${group}" method="post">
        <label>Nazwa grupy:</label>
        <input type="text" th:field="*{name}" placeholder="Grupa A" required />
        
        <br>
        
        <br>
        <button type="submit">Zapisz Grupę</button>
    </form>
    <br>
    <a href="/groups">Powrót do listy</a>
</body>
</html>