<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Dodaj Mecz</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>

        <h1>🆕 Dodaj Nowe Wydarzenie</h1>

        <form th:action="@{/events/save}" th:object="${event}" method="post">

            <label>Home team:</label>
            <select th:field="*{homeTeam}" required>
                <option value="" disabled selected></option>
                <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}"></option>
            </select>
            <br>
            <label>Gość (Away Team):</label>
            <select th:field="*{awayTeam}" required>
                <option value="" disabled selected></option>
                <option th:each="t : ${teams}" th:value="${t.id}" th:text="${t.name}"></option>
            </select>
            <br>
            <label>Etap (Stage):</label>
            <select th:field="*{stage}">
                <option value="" disabled selected>Wybierz etap...</option>
                <option th:each="s : ${stages}" th:value="${s.id}" th:text="${s.name}"></option>
            </select>
            <br>
            <label>Grupa (Group):</label>
            <select th:field="*{group}">
                <option value="" disabled selected>Wybierz grupę...</option>
                <option th:each="g : ${groups}" th:value="${g.id}" th:text="${g.name}"></option>
            </select>
            <br>
            <label>Result:</label>
            <select th:field="*{result}">
                <option value="">Brak (Mecz nadchodzący)</option>
                <option th:each="r : ${results}" th:value="${r.id}" th:text="${r.homeGoals + ':' + r.awayGoals}"></option>
            </select>
            <br>
            <button type="submit">Save match</button>
            <a href="/events">Cancel</a>
        </form>

    </body>
</html>