<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Group List</title>
    </head>
    <body>
        <h1>All Groups</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Group name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="t : ${group}">
                    <td th:text="${t.id}"></td>
                    <td th:text="${t.name}"></td>

                </tr>
            </tbody>
        </table>
        <br>
        <a href="/groups/add">Add new group</a>
    </body>
</html>